{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h3>Database</h3><br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
            </thead>
            <tbody>
            {% for person in person %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.street }}</td>
                    <td>{{ person.city }}</td>
                    <td>{{ person.state }}</td>
                    <td>{{ person.postal }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}